<h3>About this site</h3>
<p>This community website is a test Ruby on Rails project for the codermanual.com course, May/June 2015. Course and project features:</p>
<ul>
  <li>User registrations via Devise gem</li>
  <li>Bootstrap styling</li>
  <li>Basic and Pro memberships (payments handled via Stripe gem)</li>
  <li>Heroku 'production' hosting</li>
  <li>github repo</li>
  <li>user profile photos via paperclip gem</li>
  <li>contact form</li>
  <li>community browsing (only pro members see contact info)</li>
  
</ul>